#Container {
    horizontal-align: right;
    height: 70%;
    flow-children: up;
}

#Problems {
    horizontal-align: right;
    width: 210px;
    margin-bottom: 10px;
    flow-children: up;
}

#Incidents {
    horizontal-align: right;
    flow-children: up;
}

/*----------------------------------------------------------------------------*/

@keyframes 'dropin' {
    from {
        transform: translateY(-250px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

#Incident {
    horizontal-align: right;
    animation-name: dropin;
    animation-duration: 1s;
    animation-delay: 0s;
}

#Incident > Image {
    horizontal-align: right;
    transition-property: box-shadow;
    transition-duration: 1s;
}

#Incident > Label {
    align: center center;
    color: white;
    font-family: Arial;
    font-size: 19;
    background-color: gradient(linear, 130% 0%, 0% 130%, from(rgba(0,0,0,0.05)), color-stop(0.5, rgba(0,0,0,0.5)), to(rgba(0,0,0,0.05)));
}

#Incident > #TooltipDummy {
    horizontal-align: right;
    height: 100%;
    overflow: noclip;
}

/*----------------------------------------------------------------------------*/

#Problems > #Major {
    width: 100%;
    flow-children: down;
}

#Problems > #Minor {
    width: 100%;
    flow-children: down;
}

#Problem {
    horizontal-align: right;
    text-align: right;
    color: white;
    font-family: Arial;
    font-size: 19px;
    width: 100%;
    padding: 5px 10px;
    /* text-overflow: noclip; */
}

#Problem:hover {
    saturation: 0.975;
}

@keyframes 'pulse' {
    0% {background-color: #990000;}
    20% {background-color: #990000;}
    50% {background-color: #ff0000;}
    80% {background-color: #930000;}
    100% {background-color: #990000;}
}

#Problem.Major {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/*----------------------------------------------------------------------------*/

#TooltipSmall {
    opacity: 0.0001; /* Fixes inital frame incorrectly displaying */
    color: white;
    font-family: Arial;
    font-size: 19;
    max-width: 350px;
    padding: 20px 10px;
    border: 2px solid #616c7b;
    border-right: 1px solid #616c7b;
    background-color: #15191e;
    sound: "MouseoverButton";
}

#TooltipLarge {
    flow-children: up;
    color: white;
    font-family: Arial;
    font-size: 19px;
    align: middle middle;
    width: 750px;
    height: 550px;
    padding: 20px;
    border: 2px solid #616c7b;
    background-color: #15191e;
}

#TooltipLarge > TextButton {
    color: #b8c3e6;
    vertical-align: top;
    width: 100%;
    margin: 10px;
}

#TooltipLarge > TextButton:hover {
    color: yellow;
    sound: "MouseoverButton";
}

/*----------------------------------------------------------------------------*/

#Arrow {
    opacity: 0.0001; /* Fixes inital frame incorrectly displaying */
    height: 60px;
    width: 60px;
}
